@model ShopTARge24.Models.RealEstate.RealEstateCreateUpdateViewModel

@if (Model.Id.HasValue)
{
    <h1>Update</h1>
}
else
{
    <h1>Create</h1>
}


<div>
    <form method="post" enctype="multipart/form-data">
        <input asp-for="Id" type="hidden" />
        <input asp-for="CreatedAt" type="hidden" />
        <input asp-for="ModifiedAt" type="hidden" />

        <dl class="row">
            <div class="form-group row">
                <label asp-for="Area" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.Area)
            </div>
        </dl>

        <dl class="row">
            <div class="form-group row">
                <label asp-for="Location" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.Location)
            </div>
        </dl>

        <dl class="row">
            <div class="form-group row">
                <label asp-for="RoomNumber" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.RoomNumber)
            </div>
        </dl>

        <dl class="row">
            <div class="form-group row">
                <label asp-for="BuildingType" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model => model.BuildingType)
            </div>
        </dl>

        @if (Model.Id.HasValue)
        {
            <input asp-action="update" asp-controller="realestate" type="submit" class="btn btn-success" value="Update" />
        }
        else
        {
            <input asp-action="create" asp-controller="realestate" type="submit" class="btn btn-success" value="Create" />
        }

        <a asp-action="Index" asp-controller="realestate" class="btn btn-success">Back</a>
    </form>
</div>