

<div class="container mt-5 text-center">
    <p>@ViewData["Joke"]</p>

    <form method="get" action="/ChuckJoke/Index">
        <button class="btn btn-primary">Get Another Joke</button>
    </form>
</div>
